<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna">

	<select id="getQnaList" parameterType="java.lang.Integer" resultType="kr.co.greenapple.beans.QnaBean">
		<![CDATA[
			select Q.qna_idx, Q.qna_subject, U.user_name as "writer_name", to_char(Q.qna_date, 'yyyy-mm-dd hh:mm:ss') as "qna_date" from qna_table Q, user_table U where Q.user_idx = U.user_idx order by Q.qna_idx desc
		]]>
	</select>
	
	<insert id="addQnaContentInfo" parameterType="kr.co.greenapple.beans.QnaBean">
		<selectKey keyProperty="qna_idx" order="BEFORE" resultType="java.lang.Integer">
			select qna_seq.nextval from dual
		</selectKey>
		<![CDATA[
			insert into qna_table (qna_idx, qna_subject, qna_content, user_idx, qna_date)
			values (#{qna_idx}, #{qna_subject}, #{qna_content}, #{user_idx}, sysdate)
		]]>
	</insert>
	
</mapper>