<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	<select id="checkUserIdExist" parameterType="java.lang.String" resultType="java.lang.String">
		<![CDATA[
			select user_name
			from user_table
			where user_id = #{user_id}
		]]>
	</select>
	
	<select id="checkUserTelExist" parameterType="java.lang.String" resultType="java.lang.String">
		<![CDATA[
			select user_name
			from user_table
			where user_tel = #{user_tel}
		]]>
	</select>
	
	<insert id="addUserInfo" parameterType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			insert into user_table
			(user_idx, user_name, user_id, user_pw, user_tel, user_address)
			values (user_seq.nextval, #{user_name}, #{user_id}, #{user_pw}, #{user_tel}, #{user_address})		
			
		]]>
	</insert>
	
	<!-- user_info 추가 -->
	<select id="getLoginUserInfo" parameterType="kr.co.greenapple.beans.UserBean" resultType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			select user_idx, user_name, user_info
			from user_table
			where user_id=#{user_id} and user_pw=#{user_pw}
		]]>
	</select>
	
	<select id="getModifyUserInfo" parameterType="java.lang.Integer" resultType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			select user_id, user_name, user_tel, user_address, user_info
			from user_table
			where user_idx = #{user_idx}
		]]>
	</select>
	
	<update id="modifyUserInfo" parameterType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			update user_table
			set user_pw = #{user_pw}, user_tel = #{user_tel}, user_address = #{user_address} 
			where user_idx = #{user_idx}
		]]>
	</update>
	
	<!-- 테라피스트 -->
	<insert id="addTherapist" parameterType="kr.co.greenapple.beans.UserBean">
			insert into user_table(
				user_idx
				, user_id
				, user_name
				, user_pw
				, user_tel
				, user_info
				, therapist_license
				, therapist_picture
				, therapist_career
				, therapist_level
				, therapist_resume				
				, company_id
			) values (
				user_seq.nextval
				, #{user_id}
				, #{user_name}
				, #{user_pw}
				, #{user_tel}
				, #{user_info}
				, #{therapist_license, jdbcType=VARCHAR}
				, #{therapist_picture, jdbcType=VARCHAR}
				, #{therapist_career,jdbcType=VARCHAR}
				, #{therapist_level, jdbcType=VARCHAR}
				, #{therapist_resume, jdbcType=VARCHAR}
				, #{company_id}
			)		
	</insert> 


    <!-- 테라피스트 더보기 정보 불러오기 -->
	<select id="getUserInfo" parameterType="java.lang.Integer" resultType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			select *
			from user_table natural join COMPANY_TABLE
			where user_idx=#{userIdx} 
		]]>
	</select>
	
	<!-- 회사소속되어있는 테라피스트 불러오기 -->
	<select id="getUserInfos" resultType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			select * 
			from user_table natural join COMPANY_TABLE
			where user_info ='T'
		]]>
	</select>
	
	
	<select id="gettherapist" resultType="kr.co.greenapple.beans.UserBean">
		<![CDATA[
			select * from
			(select T1.*, rownum rnum from
				(select u.user_idx, u.user_name, u.user_pw, u.user_tel, u.therapist_license, u.therapist_picture, u.therapist_career, u.therapist_level, u.therapist_resume, c.company_local
					from user_table u, company_table c where c.company_id = u.company_id and  u.user_info ='T') T1)
			where rnum between ((#{page}-1) * #{perPage} + 1) and (#{page} * #{perPage}) 
		]]>
	</select> 
	
	<select id="pageCount" resultType="java.lang.Integer">
			select count(*) from user_table 
			where user_info = 'T' 
	</select>
	
		<select id="myQnaBoard" parameterType="java.lang.Integer" resultType="kr.co.greenapple.beans.QnaBean">
		<![CDATA[
		select qna_idx, qna_subject, to_char(qna_date, 'yyyy-mm-dd hh:mm:ss') as "qna_date" from qna_table
			where qna_writer_idx = #{user_idx}
			order by qna_idx
		]]>
	</select>
	
	
	
	
<!-- <delete id="delMember" parameterType="java.lang.String">
  		delete from member where mem_id = #{memId}
  	</delete> -->
</mapper>